[submodule "retrosheet-csv"]
	path = retrosheet-csv
	url = https://github.com/jerryword/retrosheet-csv.git
[submodule "baseballdatabank"]
	path = baseballdatabank
	url = https://github.com/jerryword/baseballdatabank.git
[submodule "retrosheet"]
	path = retrosheet
	url = https://github.com/jerryword/retrosheet.git
[submodule "retrosheet-org"]
	path = retrosheet-org
	url = https://github.com/jerryword/retrosheet-org
